.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    }   
.bgimage3{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('HD2.jpg');
}
.h1{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 100;
    
}
footer{
    text-align:center;
    width:"100%";
    color: white;
}
#name{
    border-radius: 25px;
    border: 2px solid green;
    padding: 20px; 
    width: 350px;
    height: 15px;    
}
		
#name{
    height:50px;
    font-size:25px;
}