.bgimage2{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('SHR2.jpg');
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    }   
.h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 100;
        
    }
.h2{
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 80;
    font-size: 80;
    }
footer{
    text-align:center;
    width:"100%";
    color: white;
    }
#textboxid {
    border-radius: 25px;
    border: 2px solid gold;
    padding: 20px; 
    width: 350px;
    height: 15px;    
    }
#textboxid{
    height:50px;
    font-size:25px;
    }